@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    overflow-y: scroll; /* Show scrollbar even if no scrolling is needed */
    padding-right: calc(100vw - 100%); /* Place to "hide" the body scrollbar */
}

::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #000000; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #888888; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #000000; /* creates padding around scroll thumb */
}

.text-transition-color {
    transition: color 3s linear;
}
